<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input-Check</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</head>
<body>

    <div id="password-inputs">
        <input v-model="pass1" class="input-1" name="1st" placeholder="Enter Password" required/>
        <input v-model="pass2" class="input-2" name="2nd" placeholder="Re-enter Password" required/>
        <br/>
        <h2 v-if="(!(pass1 === pass2))">Passwords do not match.</h2>
    </div>
    
</body>
<script src="app.js"></script>
</html>